{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename = 'js/auto_variables.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/selection.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/auto_variables.css')}}">
{% endblock %}

{% block body %}
<h1>VaryLaTeX</h1>

<div class="selection-container">
    <h2>Add variables ?</h2>
        <form method="POST" action="/auto_variables">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="generateImageSizes" id="generateImageSizes">
                <label class="form-check-label" for="generateImageSizes">Size of the images</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="test" id="test">
                <label class="form-check-label" for="test">Size of the images</label>
            </div>
            <div>

                <button type="submit" class="btn btn-secondary">Go !</button>
            </div>
        </form>
</div>
{% endblock %}