{% extends 'base.html' %}

{% block head %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename = 'js/colors.js')}}"></script>
<!--<script src="{{ url_for('static', filename = 'js/custom_select.js')}}"></script>-->
<script src="{{ url_for('static', filename = 'js/config_element.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/constraints.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/configurator.css')}}">
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/custom_select.css')}}">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/constraints.css')}}">
{% endblock %}

{% block body %}
<h1>{{name}}</h1>
<!--
<div class="message">
    <label id="msg"></label>
</div>
<div class="div-configurator">
    <h2>Options</h2>
    <table id="gen-table">
    </table>
</div>
<div class="table-container" style="visibility: hidden;">
    <table id="results">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
<object type="application/pdf" id="pdf_viewer" class="pdf"></object>
-->
<div class="wrapper">
    <div class="configurator" id="configurator">
        <div id=  "boolDiv" class="option-container"></div>
        <div id=  "enumDiv" class="option-container"></div>
        <div id="choiceDiv" class="option-container"></div>
        <div id="numberDiv" class="option-container"></div>
        <div class="gen-options">
            <button id="generateBtn" class="btn btn-secondary" onclick="compile(true)">Generate</button>
            <button id="addBtn" class="btn btn-secondary" onclick="compile(false)" disabled="true">Add</button>
            <input id="qtyInput" type="number" min="1" value="20" max="100">
        </div>
        <div class="mx-auto">
            <label>Max Pages</label>
            <input type="number" value="5" min="1" id="maxPages">
        </div>
        <div class="message">
            <label id="msg"></label>
        </div>
    </div>
    <object type="application/pdf" id="pdf_viewer" class="pdf"></object>
    <div id="filterBtn" class="toggle-btn" onclick="filter_pressed()">
        Generate documents using these constraints : disabled
    </div>
    <div class="info">
        <div class="table-container" style="visibility: hidden;">
            <table id="results">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}