{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename = 'js/selectfile.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/selectfile.css')}}">
{% endblock %}

{% block body %}
<h1>VaryLaTeX</h1>

<div class="selection-container">
    <h2>Select mode</h2>
    <div class="buttons">
        <button onclick="location.href='/config'">Free config</button>
        <button onclick="location.href='/constraints'">Constraints</button>
    </div>
</div>
{% endblock %}